@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('bg.png') no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
}

.logo{
    width: 1px;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #e6b451;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(45deg, #e6b451, #9e7016);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.navigation .btnlogin-popup:hover{
    border-top-right-radius: 30px;
}

.wrapper{
    position: fixed;
    z-index: 100;
    top: 14%;
    width: 400px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(100px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}


.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 600px;
}


.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    height: 600px;
    transition: transform .18s ease;
    transform: translateX(0);
}


.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    background: #e6b451;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper img {
    height: 20px;
    width: 20px;
}

.form-box h2{
    font-size: 2em;
    color: #333333;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #333333;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #333333;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #333333;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.remember-forgot{
    font-size: .9em;
    color: #333333;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #333333;
    margin-right: 3px;
}

.remember-forgot a{
    color: #333333;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #e6b451;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #333333;
    font-weight: 900;
}

.login-register{
    font-size: .9em;
    color: #333333;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #333333;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.abt1, .abt2{
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;
}

.homepage img {
    width: 400px;
    margin-top: 28%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.about.anim {
    opacity: 0;
    transform: translateX(-350px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translate(-350px, -30px);
    }
}

.homepage {
    position: relative; /* Ensure the container is the reference for absolute positioning */
}

.abt1 {
    position: absolute; /* Make the heading float over the image */
    top: 20%; /* Adjust as needed to place it on top of the image */
    left: 20%; /* Center horizontally */
    color: #e6b451; /* Text color to contrast with the image */
    font-size: 4em; /* Adjust font size as needed */
    letter-spacing: 15px;
    white-space: nowrap; /* Prevent text from wrapping onto a new line */
    overflow: hidden; /* Hide overflow if the text is too long */
    text-overflow: ellipsis; /* Add ellipsis (...) if text overflows */
    z-index: 1;
}

.abt2 {
    position: absolute; /* Make the heading float over the image */
    top: 20.5%; /* Adjust as needed to place it on top of the image */
    left: 20.5%; /* Center horizontally */
    color: black; /* Text color to contrast with the image */
    font-size: 4em; /* Adjust font size as needed */
    letter-spacing: 15px;
    white-space: nowrap; /* Prevent text from wrapping onto a new line */
    overflow: hidden; /* Hide overflow if the text is too long */
    text-overflow: ellipsis; /* Add ellipsis (...) if text overflows */
}

.abt1.anim, .abt2.anim {
    opacity: 0;
    animation: moveupp 0.5s linear forwards;
    transform: translateY(30px);
    animation-delay: 0.5s; /* Adjusted duration */
}

@keyframes moveupp {
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.desc {
    position: absolute; /* Make the text float over the image */
    top: 35%; /* Adjust as needed to place it on top of the image */
    left: 20%; /* Center horizontally */
    font-size: 1.3em; /* Adjust font size as needed */
    font-weight: 600;
    white-space: normal; /* Allow text to wrap and break lines */
    width: 170%; /* Adjust width as needed for your layout */
    text-align: justify; /* Justify text for even alignment */
    line-height: 1.6; /* Improve readability */
    z-index: 1;
    overflow-wrap: break-word; /* Ensure long words break within box */
    backdrop-filter: blur(1px);

    opacity: 0;
    animation: moveupp 0.5s linear forwards;
    transform: translateY(30px);
    animation-delay: 0.9s; /* Adjusted duration */
}

.name-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Space between the fields */
}

.name-field {
    position: relative;
    width: 48%; /* Adjust width to fit both fields side by side */
}

.name-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #333333;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.name-field input:focus~label,
.name-field input:valid~label {
    top: -5px;
}

.name-field input {
    width: 120%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #333333;
    font-weight: 600;
    padding: 0 35px 0 5px;
    margin-bottom: 10px; /* Space between the underline of the fields */
    border-bottom: 2px solid #333333; /* Add the underline */
}

.name-field input:first-child {
    margin-right: 10px; /* Space between first name and last name */
}

/* Adjust the width of the underline, for example: */
.name-field input {
    border-bottom: 2px solid #333333; 
    width: calc(100% - 10px); /* To give some space on both sides of the underline */
}

.input-boxNames{
    position: relative;
    width: 100%;
    height: 50px;
    /* border-bottom: 2px solid #333333; */
    margin: 30px 0;
}


/* ============================== TAC MODAL  */

/* Modal Styling */
.modal.tac {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content.tac {
    background-color: #fff;
    margin-top: 3.5%;
    margin-left: 25%;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    height: 85%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.close.tac {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close.tac:hover {
    color: black;
    text-decoration: none;
}

/* Link Styling */
#termsLink {
    color: #9e7016;
    text-decoration: underline;
    cursor: pointer;
}

#termsLink:hover {
    text-decoration: none;
    color: #e6b451;
}

#tacNumbering{
    text-decoration: underline;
    font-weight: bold;
    margin-top: 3%;
}

#tacBulletPoints {
    list-style-position: outside;
    padding-left: 15px;
    text-indent: -6.5px;
    font-size: 13.5px;
    margin-top: 1%;
}

#tacBulletPoints::marker {
    content: '\2022';
    margin-right: 1000px; /* Adjust bullet spacing */
}

