/* General Reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}



/* Main Content */
.home {
    margin-left: 270px;
    padding: 20px;
}

#viewProjContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 3%;
    margin-top: 4%;
    width: 70%;
}

#viewProjContainer h2 {
    color: #deae56;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 1%;
    font-size: 2em;
}

hr{
    margin-bottom: 3%;
}

#viewProjContainer p {
    font-size: 1.1em;
    margin: 10px 0;
    line-height: 1.6;
}

#viewProjContainer p strong {
    color: #555;
}

#viewProjContainer button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #deae56;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#viewProjContainer button:hover {
    background-color: #c89e4e;
}
